
@{
    //Users
    <a asp-controller="Admin" asp-action="ViewUsers">
        <div class="well col-sm-2" id="adminPanel">

            <img src="~/images/Settings-icon.png" />
            <h3>Användare</h3>
        </div>
    </a>

    //Orders
    <a asp-controller="Admin" asp-action="ViewOrders">
        <div class="well col-sm-2" id="adminPanel">

            <img src="~/images/Settings-icon.png" />
            <h3>Beställningar</h3>
        </div>
    </a>

    //Food Items
    <a asp-controller="Admin" asp-action="ViewFoodItems">
        <div class="well col-sm-2" id="adminPanel">

            <img src="~/images/Settings-icon.png" />
            <h3>Maträtter</h3>
        </div>
    </a>

    //Ingredients
    <a asp-controller="Admin" asp-action="ViewIngredients">
        <div class="well col-sm-2" id="adminPanel">

            <img src="~/images/Settings-icon.png" />
            <h3>Ingredienser</h3>
        </div>
    </a>
}