@model bool

@if(Model)
{
    <span class="alert alert-success" style="display:inline-block">ALLA GILLAR PIZZA.</span>
}
else
{
  <span class="alert alert-danger" style="display:inline-block">Varför hatar du pizza? :( :( :(</span>
}